
body
{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background: url(/images/retail-3205035_1920.jpg);
    background-size: cover;
}
.signin
{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 90px;
    height: 400px;
    margin-left: 180x;
    
}